* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: none;
  font-family: "Lato", Verdana, sans-serif;
  list-style-type: none;
  text-align: justify;
}
header,
section,
footer {
  @extend %flex;
}
h2 {
  color: $color-title;
  font-size: 30px;
  margin-bottom: 18px;
}
h3 {
  color: $color-title;
  font-size: 18px;
  margin-bottom: 7px;
}
p {
  color: $color-text;
}
