.header {
  position: relative;
  height: 89px;
  background-color: $color-background;
  border-bottom: 6px solid $color-border;
  & > .wrapper {
    font-weight: 700;
  }
  & .logo h1 {
    font-size: 25px;
  }
  &--fixed {
    position: fixed;
    width: 100%;
    @include flex();
    height: inherit;
    background-color:inherit;
    border-bottom: inherit;
    z-index: 2;
  } 
}
