.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  transition: 1s;
  & .wrapper {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 60px 0 68px;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
  }
  &-tabs {
    display: flex;
    justify-content: flex-start;
  }
  &-tablist {
    width: 290px;
    display: flex;
    justify-content: space-between;
    margin: 42px 0 18px;
    font-size: 12px;
   

    &__tab {
      padding: 0 7px;
      cursor: pointer;
      color: #767e9e;
      border: 1px solid;
      border-radius: 5px;
      transition: 0.3s;
      &:hover {
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
  &-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__image {
      margin: 0 20px 20px 0;
      transition: 0.5s;
  
      &:hover {
        box-shadow: 0 0 5px 3px #fff;
      }
      &:nth-child(n + 13) {
        display: none;
      }
    }
  }
}

.image-priority {
  order: 0;
}

.image-pos {
  margin: 0 0 20px 0;
}

.image-no-priority {
  order: 1;
}

.tab-selected {
  color: $color-light;
}
